<div class="row no-margin-bottom">
    <div class="col m8 offset-m2">
        <div class="card-panel white chat-text z-depth-2" ng-repeat="item in chatMessageQueue track by $index">
            <div class="row no-margin-bottom">
                <div class="col m12">
                    <div class="chip user-badge">
                        <img src="../../static/img/user.jpg" alt="Contact Person">
                        {{item.userName}}
                    </div>
                    <div class="close-icon right delete-chat-btn" ng-click="deleteChatMessage(item)">
                        <i class="material-icons green-text text-darken-2">cancel</i>
                    </div>
                </div>
                <div class="col m12">
                            <span class="green-text text-darken-2">
                               {{item.msg}}
                            </span>
                </div>
                <div class="col m12">
                            <span class="grey-text text-lighten-1 right chat-timstamp">
                                <!--2018-11-03 at 09:46:34-->
                                {{item.timestamp | date : 'medium'}}
                            </span>
                </div>
            </div>

        </div>

    </div>
</div>
