{
  "extends": "airbnb",
  "rules": {
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "no-underscore-dangle": "off",
    "comma-dangle": ["error", "never"],
    "max-len": ["error", 180, 4, {
      "ignoreComments": true,
      "code": 180,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true,
      "ignorePattern": "true"
    }],
    "func-names": ["error", "never"]
  }
}
